<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephanie's Portfolio</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- My CSS File -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- My NavBar -->
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid">
            <a class="navbar-brand text-center" href="/">
              <img src="media/IMG_4472.JPG" alt="" width="25" class="d-inline-block">
                Stephanie Salgado
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-fill w-100">
              <li class="nav-item text-center">
                <a class="nav-link" aria-current="page" href="/"> Home </a>
              </li>
              <li class="nav-item text-center"> 
                <a class="nav-link" href="/education"> Education </a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link" href="/experience"> Experience </a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="dropdown text-center">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact Information
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-center " href="/socials"> Social Media </a></li>
                  <li><a class="dropdown-item text-center" href="/location"> Location   
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                  </a></li>
                  <li><a class="dropdown-item text-center" href="/contact">Having Problems?</a></li>
                </ul>
              </li>
              </ul>
          </div>
        </div>
      </nav>