<%- include('layouts/header.ejs') %>    
      <div class="container">
        <br> <br>
        <h1> EDUCATION </h1> 
        <br><br>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="p-3 card">
              <img src="media/graduation.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center" style="color:black">2016 - 2020</h5>
                <p class="card-text" style="color:black">I graduated from John F. Kennedy High School in June 2020, where I took dual credit classes and earned credits from Palo Alto College.</p> 
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 card">
              <img src="media/tamusa.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center" style="color:black">2020 - Present</h5>
                <p class="card-text"  style="color:black">I transfered my credits from Palo Alto College and started attending Texas A&M University - San Antonio, where I study Computer Science. </p> 
              </div>
            </div>
          </div>
        </div>
            </div>
          </div>
      </div>
      </div>
        
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>